@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);
@import url(../blocks/about.css);

.menu {
  padding: 100px 0 100px;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: inter, arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card {
  width: 540px;
}
.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card__title {
  margin: 0 0 32px;
  font-family: inter, arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list-item {
  margin-top: 16px;
  display: flex;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 108px 80px;
}
.footer__logo {
  width: 105px;
  height: 39px;
}
.footer__social-heading {
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__list-item {
  color: #fff;
  list-style-type: none;
}
.footer social-icon {
  color: #fff;
  width: 16px;
  height: 16px;
}
.footer__social-link {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.footer__copyright {
  color: #fff;
  padding: 0 0 60px 80px;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
